# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production
build

# misc
.DS_Store
.env
.env.local
.idea
npm-debug.log
/nodemon*
*.store
/uploads/*
/assets

/logs/*

/src/**/*.css
/src/conf/conf.json

*error.log
**/*.gv

jest_*
globalConfig.json
mockgoose*

# environment settings
.env
.gccreds
.nodemon-env
.npmrc
keystore.json

basaas-queue.json
certs/

clients.json

# testing
*.zip
*.tar.gz
*.tgz

temp/
test-temp/

# mongo data
data/