apiVersion: v1
kind: Secret
metadata:
  name: app-directory
  namespace: oih-dev-ns
type: Opaque
data:
  # echo -n "REPLACE ME" | base64 -w0
  IAM_TOKEN: UkVQTEFDRSBNRQ==
  # echo -n "mongodb://mongodb-service.oih-dev-ns.svc.cluster.local/appDirectory" | base64 -w0
  MONGODB_CONNECTION: bW9uZ29kYjovL21vbmdvZGItc2VydmljZS5vaWgtZGV2LW5zLnN2Yy5jbHVzdGVyLmxvY2FsL2FwcERpcmVjdG9yeQ==
