/* custom-tree.css */


.node__leaf > circle{
  fill: green;
  /* Let's also make the radius of leaf nodes larger */
  r: 40;
}
.rd3t-node > circle {
  fill: white;
}


.rd3t-node > circle:hover {
  fill:white;
  stroke: green;
}
