#graph {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 999;
}
#overlay {
  width: 140px;
  height: 300px;
  max-width: 0px;
  max-height: 0px;
  background-color: #fff;
  box-shadow: 0 18px 38px rgba(0,0,0,0.30), 0 14px 12px rgba(0,0,0,0.20);
  border-radius: 2px;
  padding: 0px;
  overflow: hidden;
  position: absolute;
  z-index: 100000;
  transition: 0.25s ease-in;
}

#overlay.show {
  max-width: 140px;
  max-height: 500px;
  padding: 15px;
  transition: 0.25s ease-in;
}

#overlay div {
  margin-bottom: 5px;
}

#overlay div span {
  width: 100px;
  display: inline-block;
}

#overlay div b {
  display: block;
  float: right;
  text-align: right;
}

#overlay div.flowList span {
  width: auto;
  display: block;
  float: left;
  clear: both;
}

#overlay div.flowList b{
  width: 110px;
  font-size: 12px;
  float: left;
  margin-top: 5px;
  margin-left: 5px;
  text-align: left;
}

#overlay .single-flow{
  display: inline-block;
}

b.deleted {
  color:red;
}

h3 {
  margin: 0;
}
